@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.jp,
.jp code {
    font-family: 'Noto Sans JP', sans-serif!important;
}

.annot {
    background: rgba(43,141,216,.1);
    border-radius: 3px;
}
