/* Override */

body {
    font-family: Lato, "Helvetica Neue", "Microsoft Yahei", sans-serif, "Segoe UI Emoji";
}

.sidebar ul li {
    font-size: 14px;
}

.markdown-section a {
    font-weight: normal;
}

.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a {
    font-weight: 600;
}

.markdown-section h2 code {
    font-size: 1.5rem;
}

code,
.markdown-section code,
.markdown-section pre,
.markdown-section pre > code {
    font-family: Consolas, monospace, "Microsoft Yahei";
}

/* --- */

img {
    border: 1px solid lightgrey;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
    color: gray;
    margin-top: 0.6em;
}

p + ul {
    margin-top: -0.2em;
}

.markdown-section strong {
    font-weight: bold;
}

strong.accent {
    color: #269961;
}

abbr {
    cursor: help;
}

details summary {
    cursor: pointer;
}

.docsify-copy-code-button {
    font-family: Consolas, monospace, "Microsoft Yahei";
    padding: .4em .8em .48em!important;
}