/* Override */

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Microsoft Yahei', Arial, sans-serif, 'Segoe UI Emoji';
}

.sidebar ul li {
    font-size: 14px;
}

.markdown-section a {
    font-weight: normal;
}

.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a {
    font-weight: 600;
}

/* --- */

img {
    border: 1px solid lightgrey;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
    color: gray;
    margin-top: .6em;
}

p+ul {
    margin-top: -.2em;
}

.markdown-section strong {
    font-weight: bold;
}

strong.accent {
    color: #269961;
}

abbr {
    cursor: help;
}

details summary {
    cursor: pointer;
}