// Adapted from https://github.com/spencerwooo/dowww

// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body
  font-family $secondaryFont

h1, h2, h3, h4, h5, h6
  font-family $primaryFont !important
  font-weight 600

.callout
  margin 1rem 0
  padding 0.1rem 1.5rem
  border-radius 0.4rem
  background-color #255b9f09

  .title
    font-weight bold

pre.tree
  border-left-width 0.5rem
  border-left-style solid
  border-color $accentColor !important
  border-radius 0

  & > code
    font-size 14px !important

    & > p
      margin -5px 0 -20px 0

    code
      background-color $accentColor !important
      color #ffffff

      padding 3px 5px
      border-radius 3px

    em
      color #808080
      font-weight light

.hero
  img
    width 240px
    height auto

  h1
    border none
    padding-bottom 0

#search-form
  line-height inherit

// FIX @yzhang

.theme-container
  .sidebar-button
    top 0.7rem

  .sidebar
    .nav-links
      padding-top 1rem
      padding-bottom 1rem
      border-bottom-color #dadcdf

      .nav-item
      .repo-link
        font-size 1.2em
        padding-left 1.2rem
        border 1px solid transparent

    &>.sidebar-links>li>a.sidebar-link
      font-size 0.9rem
      font-weight 500
      line-height 1.5

// SCROLLBAR
@media (min-width: 719px)
  ::-webkit-scrollbar
    max-width 6px
    max-height 6px
  ::-webkit-scrollbar-thumb
    background-color #f2f3f4
    border-radius 6px

    &:hover
      background-color #eaebed

// SIDEBAR

.sidebar-links
  a.sidebar-link
    transition-duration 0.1s
    transition-function ease-out

    &.active:hover
      color $accentColor

// KBD

kbd
  font-size 0.85em
  padding 0.1rem 0.2rem
  color #444d56
  vertical-align middle
  background-color #fafbfc
  border 0.1rem solid #d1d5da
  border-bottom 0.1rem solid #d1d5da
  border-radius 0.25rem
  box-shadow inset 0 -0.1rem 0 #d1d5da
  margin-bottom 0.1rem

// CODE BLOCK
.theme-default-content
  code
    color $textColor

  p
  h1
  h2
  h3
  a
    & > code
      padding 0.25rem 0.3rem
      white-space nowrap

  a > code
    color $accentColor

  pre
    background-color #f6f8fa !important // Override the hardcoded background color of shiki
    border-radius 5px
    color $textColor

    code
      color $textColor

// FIGURE

figure
  text-align center

  figcaption
    color lighten($textColor, 25%)

    a
      color $accentColor075

@media (max-width calc(719px + 244px))
  figure
    margin 1em 0

// DETAILS

summary:focus
  outline none

details.custom-block.details
  background-color white
  border 1px solid #dddddd
  box-shadow 1px 1px 1px #dddddd
  padding 1em 1.2em
  transition: box-shadow 0.2s ease-in;

  &[open]
    box-shadow none

  div
  img
    &:nth-child(2)
      margin-top 1em

  pre
    margin-bottom 0
    margin-top 0

// BLOCKQUOTE

.theme-default-content
  blockquote
    border-left: 0.5rem solid #dfe2e5
    padding 0.5rem 1rem
    background #fbfbfc

    pre
      background #fbfbfc !important
      border 1px solid #dfe2e5

      code
        color #999
  
    code
      color #999
  
    & > p
      margin .5em 0

    a
      color $accentColor075

// HR

hr
  width 50%
  margin 3em auto

// A

a.outbound:after
  content url(/notes/imgs/outbound.svg)
  vertical-align middle
  position relative
  top -1px

a.outbound.smaller:after
  content url(/notes/imgs/outbound-smaller.svg)
  vertical-align middle
  position relative
  top -1px

// SPECIFIC to this site

mark
  background-color unset
  color $accentColor
  font-weight 600

img.border
  border 1px solid #dddddd

table.center
  margin-left auto
  margin-right auto
  width fit-content

.accent
  color #297abd

.accent.mord // Fix for KaTeX
  color $textColor

sup.footnote-ref
  a
    font-weight normal

section.footnotes
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft Yahei', sans-serif

  li
    p
      margin-top 0
      margin-bottom 0

.target&:target
  background #FFD20088

.theme-default-content:not(.custom)
  & > ul
  & > ol
    margin-left 1em

@media print
  header
  .page-nav
    display none
  
  .theme-default-content:not(.custom) > *:first-child
    padding-top 1.5rem
    margin-top 0

// OVERWIRTE default theme

.theme-default-content:not(.custom) > h1
  padding-top 5.5rem
  padding-bottom .3rem
