// Adapted from https://github.com/spencerwooo/dowww

// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body
  font-family $secondaryFont

h1, h2, h3, h4, h5, h6
  font-family $primaryFont !important
  font-weight 600

.callout
  margin 1rem 0
  padding 0.1rem 1.5rem
  border-radius 0.4rem
  background-color #255b9f09

  .title
    font-weight bold

pre.tree
  border-left-width 0.5rem
  border-left-style solid
  border-color $accentColor !important
  border-radius 0

  & > code
    font-size 14px !important

    & > p
      margin -5px 0 -20px 0

    code
      background-color $accentColor !important
      color #ffffff

      padding 3px 5px
      border-radius 3px

    em
      color #808080
      font-weight light

.hero
  img
    width 240px
    height auto

  h1
    border none
    padding-bottom 0

#search-form
  line-height inherit

// SCROLLBAR
@media (min-width: 719px)
  ::-webkit-scrollbar
    max-width 6px
    max-height 6px
  ::-webkit-scrollbar-thumb
    background-color #f2f3f4
    border-radius 6px

    &:hover
      background-color #eaebed

// SIDEBAR

.sidebar-links
  a.sidebar-link
    transition-duration 0.1s
    transition-function ease-out

    &.active:hover
      color $accentColor

// KBD

kbd
  font-size 0.85em
  padding 0.1rem 0.2rem
  color #444d56
  vertical-align middle
  background-color #fafbfc
  border 0.1rem solid #d1d5da
  border-bottom 0.1rem solid #d1d5da
  border-radius 0.25rem
  box-shadow inset 0 -0.1rem 0 #d1d5da
  margin-bottom 0.1rem

// CODE BLOCK
.theme-default-content
  code
    color $textColor

  p
  h1
  h2
  h3
  a
    & > code
      padding 0.25rem 0.3rem
      white-space nowrap

  a > code
    color $accentColor

  pre
    background-color #f6f8fa !important
    border-radius 5px
    color $textColor

    code
      color $textColor

// FIGURE

figure
  text-align center

  figcaption
    color lighten($textColor, 20%)

// DETAILS

summary:focus
  outline none

details.custom-block.details
  background-color white
  border 1px solid #dddddd
  box-shadow 1px 1px 1px #dddddd
  padding 1em 1.2em
  transition: box-shadow 0.2s ease-in;

  &[open]
    box-shadow none

  div
  img
    &:nth-child(2)
      margin-top 1em

  pre
    margin-bottom 0
    margin-top 0

// BLOCKQUOTE

.theme-default-content
  blockquote
    pre
      code
        color #999
  
    & > p
      margin .5em 0

// SPECIFIC to this site

mark
  background-color unset
  color $accentColor
  font-weight 600

img.border
  border 1px solid #dddddd

// OVERWIRTE default theme

.theme-default-content:not(.custom) > h1
  padding-top 5.5rem
  padding-bottom .3rem
